<!-- <div class="container mt-3">
    <form [formGroup]="FormularioLugar" (ngSubmit)="onSubmit()">
        Pais: <input type="text" 
        class="from-control" 
        formControlName="pais" required>
        Departamento : <input type="text" 
        class="from-control" 
        formControlName="departamento" required>
        Ciudad : <input type="text" 
        class="from-control" 
        formControlName="ciudad" required>
        Nombre del Lugar : <input type="text" 
        class="from-control" 
        formControlName="nombre_lugar" required>
        <br>
        <button class="btn btn-primary " type="submit" [disabled]="!FormularioLugar.valid">Enviar</button>

    </form>
</div> -->